@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --cor-text : #1c1c1c;
}
body
{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    /* background: rgb(131,58,180);
    background: linear-gradient(71deg, rgba(131,58,180,1) 0%, rgba(222,10,117,1) 37%, rgba(30,53,116,1) 100%); */
}

.nav2 ul
{
    background-color: #1c1c1c;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: white;
    padding: 20px;

}
.nav2 ul li 
{
    margin-right: 50px;
}
.nav2 ul li i {
    color: grey;
}
.nav2 ul li:hover
{
    color: red;
    cursor: pointer;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  header .header-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-main .rotas ul {
    display: flex;
    padding: 10px;
  }
  .header-main .rotas ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #37aa95e8;
    margin-right: 15px;
  }
  .header-main .rotas ul li a {
    font-size: 25px;
    color: white;
    font-weight: 800;
  }
  .header-main .rotas ul li a:hover
  {
      color: #1c1c1c;
  }
  .header-main .logo img {
    width: 150px;
  }
  
  header .description {
    display: flex;
    justify-content: center;
  }
  header .description span {
    color: var(--cor-text);
    text-align: center;
    width: 50%;
  }
  header .search {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  header .search #search {
    border-radius: 10px;
    color: rgb(51, 51, 51);
    background-color: rgb(197, 197, 197);
    padding: 5px;
    width: 30%;
    border: none;
  }
  
  header .nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  header .nav ul {
    display: flex;
    background-color: #37aa95e8;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    justify-content: space-between;
    text-align: center;
    
  }
  header .nav ul li {
    width: 40%;
    list-style-type: none;
    color: var(--cor-text);
    
  }
  header .nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.4vw;
  }
  header .nav ul li a:hover {
    text-decoration: underline;
    color: #1c1c1c;
  }
/*                                      Fim do /Header                               */


/*                                      Meio do Body                                 */
.sugerir 
{
    display: flex;
    justify-content: center;
    color: var(--cor-text);
    margin-top: 20px;
    font-weight: normal;
    font-size: 25px;
}
.cards-sugeridos .cards
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-sugeridos .cards .arrow
{
    display: flex;
    background-color: #0000002d;
    font-size: 40px;
    color: #1c1c1c79;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}
.cards-sugeridos .cards .product
     {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 300px;
        background-color: gray;
        border-radius: 15px;
        margin: 20px;
        opacity: 2;
        z-index: 1;
      }
      .cards-sugeridos .cards .product .details {
        display: flex;
        justify-content: space-between;
        padding: 4px;
        font-weight: 100;
        color: var(--cor-text);
        float: right;
      }
      .cards-sugeridos .cards .product img {
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        z-index: 1;
      }
      .carrinho
      {
          display: flex;
          flex-direction: column;
          border-top: #23232388 solid 1px;
          width: 80%;
      }
      .carrinho .produtos
      {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          border-bottom: #23232388 solid 1px;
          padding-top: 30px;
          padding-bottom: 30px;
      }
      .carrinho .produtos .imagem-produto
      {
          width: 300px;
          
      }
      .carrinho .produtos .imagem-produto img
      {
          width: 100%;
          border-radius: 15px;
      }
      .carrinho .produtos .details-buy
      {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }
      .carrinho .produtos .details-buy .resumo-compra
      {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px;
          padding: 20px;
          border: 1px solid #1c1c1c;
          border-radius: 10px;
          background-color: #1c1c1c33;
          font-size: 15px;
          font-style: oblique;
          font-weight: 100;
      }
      .carrinho .produtos .details-buy .resumo-compra .resume
      {
          border-bottom: #1c1c1c 1px solid;
          width: 100%;
          display: flex;
          justify-content: center;
          padding-bottom: 5px;
      }
      .carrinho .produtos .details-buy .resumo-compra .preco-produto
      {
          display: flex;
          border-bottom: #1c1c1c 1px solid;
          width: 100%;
      }
      .carrinho .produtos .details-buy .resumo-compra .preco-produto ul
      {
          display: flex;
          
          list-style: none;
          justify-content: space-between;
          width: 100%;
          padding-bottom: 4px;
      }
      .carrinho .produtos .details-buy .resumo-compra .parcelas
      {
          font-size: 10px;
          display: flex;
          flex-direction: column;
          align-self: flex-end;
      }
      .carrinho .produtos .details-buy .resumo-compra .buttons
      {
          display: flex;
          margin: 20px;
      }
      .carrinho .produtos .details-buy .resumo-compra .buttons .btn 
      {
          display: flex;
          margin: 10px;
          padding:8px;
          border-radius: 15px;
          background: radial-gradient(50% 50% at 50% 50%, rgba(55, 170, 149, 0.91) 64.06%, rgba(20, 118, 139, 0.8) 100%);
          cursor: pointer;

      }
      
      




/*                                   fim do meio do Body                             */


/*                                    Inicio do footer                               */
  
footer {
    background: linear-gradient(
        180deg,
        rgba(55, 170, 149, 0.91) 0%,
        rgba(55, 170, 149, 0) 100%
      ),
      linear-gradient(0deg, rgba(20, 118, 139, 0.92), rgba(20, 118, 139, 0.92));
    
  
    width: 100%;
  } 
  
 footer .main {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  footer .main .nfterritory {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #1c1c1c;
    padding-right: 20px;
  }
  footer .main .nfterritory .logo img {
    width: 100px;
  }
  footer .main .nfterritory .description {
    text-align: center;
  }
  footer .social-medias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
  }
  footer .social-medias .text {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer .social-medias .search {
    display: flex;
    justify-content: center;
  }
  
  footer .social-medias .search .sh {
    margin-top: 20px;
    display: flex;
    width: 80%;
  }
  
  footer .social-medias .search input {
    display: flex;
    justify-content: center;
    border-radius: 15px;
    border: none;
    padding: 5px;
    width: 90%;
    font-size: 1.5vw;
  }
  
  footer .social-medias .search button {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    background-color: #3a6186;
    color: white;
    border: none;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 15%;
  }
  footer .social-medias .sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
  }
  footer .social-medias .sm ul {
    display: flex;
    justify-content: center;
  }
  footer .social-medias .sm ul li {
    list-style: none;
    margin-right: 10px;
    font-size: 40px;
  }
  footer .main .lista {
    display: flex;
    text-align: center;
  }
  footer .main .lista ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer .main .lista ul li {
    display: flex;
    margin-top: 30px;
    list-style: none;
  }
  footer .main .lista ul li a {
    color: black;
    text-decoration: none;
    text-align: center;
  }
  
  footer .cop {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid #1c1c1c;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
  }
  footer .cop i {
    padding-right: 10px;
  }