@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --cor-text : #fff;
  --border-color : #fff
}

body{
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1C5C47;
}

.container{
  display: flex;
  max-width: 40vw;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.575);
  padding: 3% 0;
  border-radius: 10px;
  margin: 2% 0;
  background-color: #C3C3C3;
}

.header img{
  width: 17vw;
}

.header a{
  cursor: pointer;
}

#Cadastrar h1{
  font-style: italic;
  margin: 3% 0;
  font-size: 2.5vw;
}

#Cadastrar .input-container{
  display: flex;
  flex-direction: column;
  
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  outline: none;
  border: 1px gray solid;
  box-shadow: 3px 3px 5px gray;
  max-width: 40vw;
  width: 100%;
  background-color: beige;
}

.label{
  margin-bottom: 2%;
  margin-top: 1%;
  margin-left: 7%;
  font-style: italic;
  font-size: 14px;
  color: black;
}

input:not([type="checkbox"]){
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30vw;
  margin-top: 5px;
  
  padding: 10px;
  border-radius: 40px
}

button{
  transition: all .2s ease-in-out;
  border-radius: 40px;
  color: black;
  background: linear-gradient(180deg, rgba(67, 223, 171, 0.8) 0%, rgba(55, 170, 149, 0) 100%),
  linear-gradient(0deg, rgba(0, 89, 59, 0.75), rgba(0, 89, 59, 0.3));
  font-size: 2vw;
  border: none;
  cursor: pointer;
  padding: 3%
}

button:hover{
  background: linear-gradient(180deg, rgba(44, 44, 44, 0.22) 0%, rgba(55, 170, 149, 0) 100%),
  linear-gradient(0deg, rgba(67, 223, 171, 0.99), rgba(67, 223, 171, 0.99));
  font-size: 1.5vw;
}

.link{
  display: flex;
  justify-content: space-evenly ;
  width: 100%;
  align-items: center;
  margin-top: 10%;
}

.link a{
  text-decoration: none;
  color: black;
}

.link a:hover{
  text-decoration: underline;
}