@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'boxicons';

.root{
  --cor-verde-claro: #01DB96;
  --cor-verde-mais-escuro: #00A873;
  --cor-branca: #FFF;
  --cor-preta: #000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; 
}

html{
    
}

body{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

.nav2{
  display: flex;
  background-color: #f3f0f0;
  box-shadow: 2px 2px 15px grey;
  width: 100%;
  justify-content: flex-end;
  height: 7vh;
  align-items: center;
  margin-bottom: 20px;
}

.nav2 ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  color: var(--cor-branca);
  width: 50%;
}

.nav2 ul li{
  display: flex;
  justify-content: space-between;
  color: var(--cor-preta);
  border-bottom: #5DD3A1 2px solid;
  transition-duration: 0.2s;
}

.nav2 ul li:hover{
  border-bottom: #1C5C47 3px solid;
}

.nav2 ul li i{
  color: grey;
}

.nav2 ul li:hover{
  color: var(--cor-preta);
  cursor: pointer;
}

header{
  display: flex;
  justify-self: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  font-size: 1.5vw;
}

header .header-main{
  display: flex;
  justify-content: space-between;
}

.header-main .rotas ul{
  display: flex;
  padding: 30px;
}

.header-main .rotas ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5DD3A1;
  margin-right: 10px;
  margin-left: 25px;
}

.header-main .rotas i{
  font-size: 2.5vw;
}

.header-main .rotas ul li a{
  color: black;
}

.header-main .rotas ul li a:hover{
  color: #1c1c1c;
}

.header-main .logo img{
  width: 15vw;
  cursor: pointer;
}

header .description{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

header .description span{
  color: var(--cor-branca);
  text-align: center;
  width: 50%;
  font-style: italic;
  font-weight: 300;
}

header .search{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header .search #search{
  font-size: 1vw;
  border-radius: 10px;
  color: rgb(51, 51, 51);
  box-shadow: 5px 5px 5px grey;
  background-color: #E3E3E3;
  padding: 10px;
  width: 30vw;
  height: auto;
  border: none;
  font-style: italic;
  outline: none;
}
  
header .nav{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

header .nav ul{
  display: flex;
  background: linear-gradient(180deg, rgba(67, 223, 171, 0.8) 0%, rgba(55, 170, 149, 0) 100%),
  linear-gradient(0deg, rgba(0, 89, 59, 0.75), rgba(0, 89, 59, 0.75));
  box-shadow: 5px 5px 5px grey;
  border-radius: 10px;
  padding: 5px;
  width: 50%;
}

header .nav ul li{
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
  width: 40%;
  list-style-type: none;
  color: var(--cor-branca); 
}

header .nav ul li a{
  color: var(--cor-preta);
  text-decoration: none;
  font-size: 1.4vw;
  font-weight: 400;
  transition: 0.3s;
}

header .nav ul li a:hover{
  text-decoration: none;
  color: #303030;
}

.user-cover{
  width: 100%;
  height: 40vh;
  background: linear-gradient(180deg, rgba(28, 92, 71, 0.9) 0%, rgba(55, 170, 149, 0) 100%),
  linear-gradient(0deg, rgba(67, 223, 171, 0.8), rgba(67, 223, 171, 0.8));
  border: 0.5px gray solid;
}

.user-cover img{
  display: flex;
  justify-self: flex-end;
}

.user-cover i{
  font-size: 40px;
  margin: 10px 0px 0px 5px;
  opacity: 0.8;
  cursor: pointer;
}

.user-info-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  height: 590px;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  margin-left: 100px;
}

.user-avatar{
  background-color: #E3E3E3;
  box-shadow: 3px 3px 5px grey;
  max-width: 45%;
  height: 170px;
  border: 0.5px gray solid;
  border-radius: 10px;
  text-align: center;

  position: relative;
  bottom: 70px;
}

.user-avatar i{
  margin-top: 15px;
  font-size: 10vw;
}

.name-and-edit-icon-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  margin-left: 20px;
}

.name-and-edit-icon-container p{
  font-size: 18px;
  font-style: italic;
  margin-right: 7px;
}

.name-and-edit-icon-container i{
  font-size: 25px;
  cursor: pointer;
}

.city-country-network{
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.name-edit-city-country-network-container{
  position: relative;
  bottom: 30px;
}

#city{
  margin: 3px;
}

#about{
  width: 20vw;
  height: 100px;
  background-color: #F3F3F3;
  resize: none;
  border-radius: 10px;
  text-align: center;
  padding-top: 7px;
  outline: none;
  font-weight: 300;
  font-style: italic;
  font-size: 15px;
  display: flex;
}

#edit-bio-button{
  background-color: #F3F3F3;
  border: none;
  outline: none;
  font-size: 25px;
  cursor: pointer;
  
  position: relative;
  bottom: 35px;
  left: 85%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container a{
  text-decoration: none;
}

.info-button, .cards-button, .safety-button{
  background-color: white;
  border: 0.2px black solid;
  outline: none;
  border-radius: 10px;
  padding: 13px;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  width: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.size{
  width: 80%;
}

#safety{
  margin: 10px 0px 0px 0px;
}

.cards-button{
  margin: 10px 0px;
}

.user-info-and-art-exhibit-container{
  display: flex;
}

.top-art-exhibit-container{
  width: 65vw;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1{
  background: rgba(0, 168, 115, 0.6);
  box-shadow: -10px -10px rgba(1, 219, 150, 0.6);
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
  font-size: 25px;
  margin-bottom: 40px;
}

.title{
  display: flex;
  flex-direction: column;
}

.images-left, .images-right{
  width: 25%;
  height: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 5px grey;
}

.images-left{
  margin-right: 60px;
}

.images-container{
  width: 65vw;
}

.first-row{
  margin-bottom: 30px;
}

.first-row, .second-row{
  display: flex;
  justify-content: center;
}

.title-2{
  background: rgba(0, 168, 115, 0.6);
  box-shadow: -10px -10px rgba(1, 219, 150, 0.6);
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
  font-size: 25px;
  margin: 80px 0px 50px 100px;
  display: flex;
  justify-content: center;
  max-width: fit-content;
}

.last-purchase-row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.miniature-and-name{
  display: flex;
  align-items: center;
}

.miniature-and-name img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.purchase-date i{
  margin-right: 15px;
}

.last-purchase-container ul .font{
  font-size: 22px;
  font-style: italic;
  padding-bottom: 5px;
}

.info-table-container{
  width: 60%;
  margin-left: 20%;
  margin-bottom: 20px;
  border-bottom: 0.5px solid black;
}

.galery-container{
  margin-top: 30px;
}

.galery-container h1{
  background: rgba(0, 168, 115, 0.6);
  box-shadow: -10px -10px rgba(1, 219, 150, 0.6);
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
  font-size: 25px;
  margin: 80px 0px 40px 100px;
  display: flex;
  justify-content: center;
  max-width: max-content;
}

.top-row, .bottom-row{
  display: flex;
  justify-content: space-evenly;
}

.image-size{
  width: 17vw;
  border-radius: 20px;
  border: 1px solid gray;
  box-shadow: 3px 3px 5px grey;
  margin-bottom: 20%;
}

.title-and-filter{
  display: flex;
  align-items: center;
  height: 20%;
}

.title-and-filter select{
  color: var(--cor-preta);
  border-radius: 20px;
  padding: 5%;
  font-size: 18px;
  font-style: italic;
}

.title-and-filter form{
  margin-top: 3%;
  margin-left: 3%;
}
  
footer{
  display: flex;
  justify-self: flex-end;
  width: 100%;
  background: linear-gradient(180deg, rgba(44, 44, 44, 0.22) 0%, rgba(55, 170, 149, 0) 100%),
  linear-gradient(0deg, rgba(67, 223, 171, 0.99), rgba(67, 223, 171, 0.99));
  font-size: 1.5vw;
  color: black;
  font-style: italic;
  font-weight: 300;
}

.nfterritory-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 27vw;
  border-right: 1px black solid;
  margin: 40px 30px 40px 40px;
  padding-right: 40px;
}

.nfterritory-footer .logo{
  display: flex;
  justify-content: center;
}

.nfterritory-footer img{
  display: flex;
  width: 60%;
}

.nfterritory-footer .text{
  text-align: center;
}

.nfterritory-footer .text span{
  margin-top: 10px;
  font-size: 1.5vw;
  text-align: center;
}

footer .comunidade{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-left: 7%;
}

footer .comunidade .text-comunidade{
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .comunidade .text-comunidade span{
  margin-top: 10px;
  font-weight: 300;
}

footer .comunidade .search-comunidade{
  display: flex;
  margin-top: 20px;
  align-items: center;
}

footer .comunidade .search-comunidade input{
  font-size: 1vw;
  width: 20vw;
  border: 0.3px gray solid;
  border-radius:15px; 
  padding: 10px;
  font-style: italic;
  background-color: #E3E3E3;
  outline: none;
}

footer .comunidade .search-comunidade div{
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

footer .comunidade .search-comunidade i{
  font-size: 40px;
  margin-left: 0.5vw;
  background-color: #E3E3E3;
  border-radius: 100%;
}

.comunidade span{
  margin-top: 20px;
}

.comunidade ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 30%;
  font-size: 40px;
}

.comunidade ul li a{
  color: black;
}

.footer-clicaveis{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 5%;
  justify-content: center;
  text-align: center;
}

.footer-clicaveis span{
  margin-top: 30px;
}

.footer-clicaveis span a{
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.footer-clicaveis span a:hover{
  color: #303030;
}