@media(max-width: 768px){
    header .nav2{
        height: 3vh;
    }

    header .search #search{
        padding: 4px;
    }

    header .nav{
        margin: 20px 0px;
    }

    header .nav ul{
        padding: 3px;
    }

    header .nav ul li{
        padding-right: 0px;
        width: 30%;
    }

    header .nav ul li a, .description span{
        font-size: 1.7vw;
    }

    .user-cover{
        height: 15vh;
    }

    .user-cover i{
        font-size: 5vw
    }

    .user-info-container{
        margin-left: 5%;
        max-width: 40vw;
        width: 100%;
        height: auto;
    }

    .user-avatar{
        height: 17vh;
        max-width: 45%;
        width: 100%;

        position: relative;
        bottom: 50px;

        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .user-avatar i{
        font-size: 15vw;
        margin-top: 0;
    }

    .name-edit-city-country-network-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .name-and-edit-icon-container{
        width: 100%;
        margin-left: 0;
    }

    .name-and-edit-icon-container p{
        font-size: 3.2vw;
        margin-right: 0;
    }

    .name-and-edit-icon-container i {
        font-size: 20px;
        padding-left: 1%;
    }

    #city, .city-country-network{
        font-size: 2.8vw;
    }

    #about{
        margin: 0 3vw;
        width: 35vw;
        position: relative;
        bottom: 1vh;
    }

    #edit-bio-button{
        position: relative;
        bottom: 7vh;
        left: 70%;
    }

    .info-button, .cards-button, .safety-button{
        font-size: 15px;
    }

    .buttons-container{
        position: relative;
        bottom: 2vh;
    }

    .title h1{
        font-size: 3vw;
        padding: 1vw;
        margin-bottom: 2vh;
    }

    .user-info-and-art-exhibition-art{
        display: flex;
        justify-content: space-around;
    }

    .images-container{
        width: 100%;
        margin-top: 1vh;
    }

    .second-row{
        display: none;
    }

    .first-row{
        flex-direction: column;
        align-items: center;
    }

    .images-left, .images-right{
        width: 35vw;
    }

    .images-left{
        margin-bottom: 3vh;
        margin-right: 0;
    }
    
    .title-2{
        max-width: 45vw;
        width: 100%;
        font-size: 3vw;
        padding: 1vw;
        margin: 13% 0 8% 8%;
    }

    .whole-table-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .last-purchase-container ul .font{
        font-size: 3.5vw;
    }

    .price{
        display: none;
    }

    .info-table-container{
        max-width: 85vw;
        width: 100%;
        margin-left: 0;
        margin-bottom: 2%;
    }

    .info-table-container ul img{
        width: 35px;
        height: 35px;
        margin-right: 2vw;
    }

    .purchase-date i{
        margin-right: 1vw;
    }

    .last-purchase-row{
        justify-content: space-around;
    }

    .galery-container h1{
        max-width: 45vw;
        width: 100%;
        font-size: 3vw;
        padding: 1vw;
        margin: 30% 5% 20% 50%;
    }

    .title-and-filter select{
        padding: 0;
        width: 19vw;
        font-size: 3vw;
        margin-left: 40%;
    }

    .galery-row-container{
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .image-size{
        width: 25vw;
    }

    .nfterritory-footer{
        margin: 7% 0 7% 5%;
        padding-right: 3%;
        width: 30vw;
        justify-content: space-between;
        height: 90px;
    }

    footer .comunidade .search-comunidade input{
        padding: 5px;
    }

    footer .comunidade .search-comunidade i{
        font-size: 20px;
    }

    footer .comunidade .text-comunidade span{
        margin-top: 5px;
    }

    footer .comunidade .text-comunidade{
        padding-top: 10px;
    }

    footer .comunidade .search-comunidade{
        margin-top: 10px;
    }

    .comunidade span{
        margin-top: 10px;
    }

    .comunidade ul{
        width: 50%;
        font-size: 20px;
        justify-content: space-evenly;
    }

    .footer-clicaveis span{
        margin-top: 30%;
    }

    .footer-clicaveis{
        justify-content: unset
    }
}

@media(min-width: 1024px){

    .user-cover{
        height: 25vw;
    }

    .text{
        width: 25vw;
    }

    .name-and-edit-icon-container{
        width: 20vw;
    }

    .title-2{
        width: 35vw;
    }

    .galery-container h1{
        width: 15vw;
    }

    .title-and-filter select{
        width: 12vw;
    }
}