<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Document</title>
</head>
<body>
    <header>
            <img class="logo" src="/img/logo.png"/>
    </header>
       <div class="container">
            <a class="links" id="paracadastro"></a>
            <div id="Cadastrar">
                <form method="post" action="">
                    <h1>Crie sua conta!</h1>
                    <p>
                        <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Ex: Luis Augusto"/>
                        <label for="nome_cad">Seu nome</label>
                    </p>
                    <p>
                        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="Ex: luis@hotmail.com"/>
                        <label for="email_cad">Seu E-mail</label>
                    </p>
                    <p>
                        <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="*****"/>
                        <label for="senha_cad">Sua Senha</label>
                    </p>
                    <p>
                        <input id="confirma_senha" name="confirma_senha" required="required" type="password" placeholder="*****"/>
                        <label for="confirma_senha">Confirme a Senha</label>
                    </p>
                    <p>
                        <input type="submit" value="Cadastrar">
                    </p>
                    <p class="link"> Já tem uma conta?
                        <a href="#paralogin"> Ir para login</a>
                    </p>
                </form>
            </div>

</body>
</html>