<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cadastro.css">
    <title>Document</title>
</head>
<body>
       <div class="container">
        <div class="header">
            <img class="logo" src="/img/logo.png"/>
        </div>
            <a class="links" id="paracadastro"></a>
            <div id="Cadastrar">
                <form method="post" action="/cadastro">
                    <h1>Crie sua conta!</h1>
                    <div class="input-container">
                        <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Ex: Luis Augusto"/>
                        <p class="label">Nome</p>
                    </div>
                    <div class="input-container">
                        <input id="email_cad" name="email_cad" required="required" type="email" placeholder="Ex: luis@hotmail.com"/>
                        <p class="label">E-mail</p>
                    </div>
                    <div class="input-container">
                        <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="*****"/>
                        <p class="label">Senha</p>
                    </div>
                    <div class="buttons">
                        <input type="submit" value="Cadastrar">
                        <div class="link">
                            <p> Já tem uma conta?</p>   
                            <a href="/login"> Ir para login</a>
                        </div>
                    </div>
                </form>
            </div>

</body>
</html>