<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/crud.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>CRUD NFTerritory</title>
</head>
<body>
    <header>
        <div class="title">
            <h3>Modelo CRUD</h3>
         </div>
        <div class="rotas"> 
            <a href="/"><span> Home </span></a>
            <a href="/produtos"><span> Produtos</span></a>
        </div>
         <div class="jessica">
            <!-- <img src="../../public/img/jessicaCrud.jpg" alt="jessica"> -->
         </div>
    </header>
    <div class="cadastrar-produto">
      <div class="produto">
        <div class="title">
            <h3>NOVO PRODUTO</h3>
        </div>
        
            <form action="/crud" method="POST" enctype="multipart/form-data" >
                <div class="inputs-group">
                    <div class="labels">
                        <label for="">Nome do produto</label>
                        <label for="">Artista</label>
                        <label for="">Preço</label>
                        <label for="">Categoria</label>
                        <label for="">Disponibilidade</label>
                        <label for="">Imagem</label>
                       </div>
                      <div class="inputs">
                       <input type="text" name="nome">
                       <input type="text" name="artista">
                       <input type="text" name="preco">
                       <input type="text" name="categoria_id">
                       <input type="text" name="disponibilidade">
                       <input type="file" name="produto_img" class="input-file">
                      </div>
                </div>
                
                  <button type="submit" class="button">
                    <span class="text">Enviar</span>
                    <i class='bx bx-check icon' ></i>
                  </button>
                </form>
                
            
        </div>
      </div>
    
    <footer></footer>
</body>
</html>