<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Urban tech</title>
</head>
<body>
    <header>
        <div class="header-main">
            <div class="rotas">
                <ul>
                    <li><a href="/help"><i class='bx bx-question-mark'></i></a></li>
                    <li><a href="/accessibility"><i class='bx bx-body' ></i></a></li>
                </ul>
            </div>        
            <div class="logo">
                <img src="/img/logo.png" alt="Logo">
            </div>
            <div class="rotas">
                <ul>
                    <li><a href="/profile"><i class='bx bxs-user'></i></a></li>
                    <li><a href="/cart"><i class='bx bx-cart'></i></a></li>
                </ul>
            </div>       
        </div>
        <div class="description">
         <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae hic itaque perferendis consequuntur porro, minima libero tempora, ratione voluptates quo maxime voluptas omnis incidunt. Recusandae sequi corporis laudantium ea enim!</span>
     </div>
        <div class="search">
            <input type="text" name="search" id="search" placeholder="Search...">
        </div>
        <div class="nav">
         <ul>
             <li><a href="#">Artes 2D</a> </li>
             <li><a href="#">Artes 3D</a></li>
             <li><a href="#">Fotografias</a></li>
             <li><a href="#">Colecionáveis</a></li>
         </ul>
     </div>
    </header>
    <section class="car">
        <div class="carrossel" id="carrossel">
            <span type="button" onclick="Chevleft()" class="btn-carrossel">
                <i class='bx bxs-left-arrow'></i>
            </span>
            <div class="carrosel-img">
                <img src="https://media.istockphoto.com/photos/non-fungible-token-golden-coins-falling-trendy-cryptocurrencies-and-picture-id1367699775?s=612x612" class="currentimage" id="currentimage">
            </div>
            <span type="button" onclick="Chevright()" class="btn-carrossel">
                <i class='bx bxs-right-arrow'></i>
            </span>
        </div>
    </section>

    <main>
        <section class="buy">
            <div class="product">
                <img src="https://s.yimg.com/ny/api/res/1.2/9DAc6O6xzhlQEVlYN9cS7A--/YXBwaWQ9aGlnaGxhbmRlcjt3PTY0MDtoPTY0MA--/https://s.yimg.com/uu/api/res/1.2/R6KWAKublTWZT77J1Cm7yw--~B/aD00MDA7dz00MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/cnwgroup.com/79b37c993b3fa9c472c4c6a1e0c9942e" alt="">
                <div class="details">
                    <p>Name of picture</p>
                    <p>value: R$?????</p>
                </div>
            </div>
            <div class="details2">
                <div class="description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio explicabo labore dolores nam quis veritatis, placeat dicta modi !</p></div>
                <div class="rotas">
                    <ul>
                        <li><a href="#"><i class='bx bx-info-circle' ></i></a></li>
                        <li id="compre" ><a href="#" >Compre já</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="buy2">
            <div class="details2">
                <div class="rotas">
                    <div class="description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio explicabo labore dolores nam quis veritatis, placeat dicta modi !</p></div>
                    <ul>
                        <li><a href="#"><i class='bx bx-info-circle' ></i></a></li>
                        <li id="compre" ><a href="#" >Compre já</a></li>
                    </ul>
                   
                </div>
            </div>
            <div class="product">
                <img src="https://img.ibxk.com.br/2021/03/13/13113544243000.jpg" alt="">
                <div class="details">
                    <p>Name of picture</p>
                    <p>value: R$?????</p>
                </div>
            </div>
            
        </section>
        <section class="buy">
            <div class="product">
                <img src="https://mandee.com.br/blog/wp-content/uploads/2020/11/printable-architect.png" alt="" >
                <div class="details">
                    <p>Name of picture</p>
                    <p>value: R$?????</p>
                </div>
            </div>
            <div class="details2">
                <div class="description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio explicabo labore dolores nam quis veritatis, placeat dicta modi !</p></div>
                <div class="rotas">
                    <ul>
                        <li><a href="#"><i class='bx bx-info-circle' ></i></a></li>
                        <li id="compre" ><a href="#" >Compre já</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="nfterritory-footer">
            <div class="logo">
                <img src="/img/logo.png" alt="" srcset="">
            </div>
            <div class="text">
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. I</span>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. I</span>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. I</span>
            </div>
        </div>
        <div class="comunidade">
            <div class="text-comunidade">
                <span>Continue por dentro de tudo</span>
                <span>Cadastre seu e-mail receba</span>
                <span>novidades e ofertas da NFTerritory</span>
            </div>
            <div class="search-comunidade">
                <input type="text" placeholder="Digite aqui seu e-mail">
                <div class="btn-comunidade"><i class='bx bxs-chevron-down-circle'></i> </div>
            </div>
            <span>
             Faça parte da comunidade:
            </span>
            <ul> 
                <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
            </ul>    
            <ul> 
                <li><a href="#"><i class='bx bxl-reddit'></i></a></li>
                <li><a href="#"><i class='bx bxl-facebook-square'></i></a></li>
            </ul>
        </div>
        <div class="footer-clicaveis">
            <span><a href="#">Fale conosco</a></span>
            <span><a href="#">Trabalhe conosco</a></span>
            <span><a href="#">Perguntas Frequentes</a></span>
            <span><a href="#">Política de privacidade</a></span>
            <span><a href="#">Termos e condições</a></span>
        </div>
     </footer>


        <script src="../../scripts/carrossel.js"></script>
</body>
</html>