<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/listagem-produto.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Produtos</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        
        <div class="cards">
           <div class="card">
            <div class="card_content">
                <div class="card_title">
                    <h3>Nft da Ana</h3>
                    
                    <span>30 <i class='bx bxs-heart'></i></span>

                </div>
                <span class="card_subtitle">
                   <strong> by Edkush42 </strong>
                </span>
                <p class="card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor 
                </p>
                <div class="payment">
                    <span class="preco">
                        R$5000
                    </span>
                    <span class="carrinho_comprar">
                        <i class='bx bx-cart-add' ></i>
                        <span class="comprar">
                            <strong>comprar</strong>
                        </span>
                        
                    </span>
                </div>
            </div>
           </div>
        </div>
    </main>
    <div class="subir" onclick = subir()><i class='bx bxs-chevrons-up'></i></div>
    <%- include('./partials/footer') %>
    <script src="../../scripts/like.js"></script>
    <script src="../../scripts/subir.js"></script>
</body>
</html>