<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Nfterritory</title>
</head>
<body>
    <main class="login">
        <header>
            <div class="logo">
                <img src="/img/logo-branca.png" alt="Logo" srcset="">
            </div>
            <div class="title">
                <h3>SIGN-IN</h3>
            </div>
        </header>
        <div class="join">
           <div class="input-group">
            <input type="text" id="name" required class="input">
            <label for="name" class="input-label">Endereço de Email</label>
           </div>
           <div class="input-group">
            <input type="password" id="name" required class="input">
            <label for="name" class="input-label">senha</label>
           </div>
            <div class="others-options">
                <span>Esqueceu a senha?</span>
                <a href="/cadastrar">Registre-se</a>
            </div>
           <div class="sign-in">
            <span class="entrar">
                Entrar
            </span>
           </div>
           <div class="login-with-social-medias">
            <div class="google">
                <i class='bx bxl-google'></i>
                <span>Logar com o google</span>
            </div>
            <div class="facebook">
                <i class='bx bxl-facebook-circle'></i>
                <span>Logar com o facebook</span>
            </div>
           </div>
        </div>
       
    </main>
    
</body>
</html>