<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/login.css">
    <title>Login Nfterritory</title>
</head>
<body>
    <main class="login">
        <header>
            <div class="logo">
                <a href="/"><img src="/img/logo-branca.png" alt="Logo" srcset=""></a>
            </div>
            <div class="title">
                <h3>ENTRAR</h3>
            </div>
        </header>
        <div class="join">
           <div class="input-group">
            <form action="/login" method="POST">
            <input type="text" id="email" required class="input" name="email">
            <label for="email" class="input-label">Email</label>
           </div>
           <div class="input-group">
            <input type="password" id="senha" required class="input" name="senha">
            <label for="senha" class="input-label">Senha</label>
           </div>
           <div class="lembrar">
            <input type="checkbox" id="lembrar" name="lembrar" class="lembrar">
            <label for="lembrar">Manter-se conectado</label>
           </div>
            <% if(typeof error !== 'undefined') { %>
                <div class="error">
                  <p><%= error %></p>
                </div>
              <% } %>
            <div class="others-options">
                <span>Esqueceu a senha?</span>
                <a href="/cadastrar">Registre-se</a>
            </div>
           <div class="sign-in">
            <button class="entrar">
                Entrar
            </button>
            </form>
           </div>
           <div class="login-with-social-medias">
            <div class="google">
                <i class='bx bxl-google'></i>
                <span>Logar com o google</span>
            </div>
            <div class="facebook">
                <i class='bx bxl-facebook-circle'></i>
                <span>Logar com o facebook</span>
            </div>
           </div>
        </div>
       
    </main>
    
</body>
</html>