<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/pagina-de-sucesso.css">
    <title>Sucesso!</title>
</head>
<body id="succsses-page">
    <main>
        <section>
            <img class="logo" src="/img/logo.png" alt="Logo NFTerritory"/>
            <div class="check-icon"><i class='bx bx-check-circle'></i></div>
            <div class="success-phrase">
                <h1>Pronto, sua compra foi finalizada e seu pagamento já está sendo processado!</h1>
            </div>
        </section>
        <section class="container-2">
            <div class="steps">
            <h2 class="number">1</h4>
            <p class="payment-phrase">Assim que seu pagamento for aprovado, 
                você será notificado em seu e-mail.</p>
            </div>
            <div class="steps">
            <h2 class="number">2</h4>
            <p class="payment-phrase">Após isso, você receberá o seu Certificado de Autenticidade também por lá e já será o proprietário da sua mais nova aquisição!</p>
            </div>
        </section>
        <section class="button">
            <button class="back-to-index">Voltar ao site</button>
        </section>
    </main>
</body>
</html>