<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/paginaEmConstrucao.css">
    <title>Conteúdo não disponível</title>
</head>
<body>
    <header>
        <img src="/img/logo.png"/>
        <h3><a class="backToIndex" href="/">Página Inicial</a></h3>
    </header>
    <main>
        <div class="explanatory-container">
        <h1 class="explanatory">
            Esta página ainda está sendo construída!
        </h1>
        <p class="explanatory-text">
            Este conteúdo ainda não está pronto, mas estamos trabalhando para poder disponibilizá-lo o mais rápido possível.
        </p>
        </div>
        <div class="socials">
            <h4>Mantenha-se conectado:</h4></p>
            <ul>
                <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
                <li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
                <li><a href="#"><i class='bx bxl-reddit'></i></a></li>
                <li><a href="#"><i class='bx bxl-facebook-square'></i></a></li>
            </ul>
        </div>
    </main>
</body>
</html>