<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/painel-do-usuario.css">
    <link rel="stylesheet" href="/css/painel-do-usuario-responsividade.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Perfil</title>
</head>
<body>
    <%- include('./partials/header') %>
       <main>
        <section class="user-cover">
            <i class='bx bx-cog'></i>
        </section>
        <div id="bgd-image"></div>
        <div class="user-info-and-art-exhibit-container">
        <section class="user-info-container">
            <article class="user-avatar">
                <i class='bx bx-user'></i>
            </article>
            <article class="name-edit-city-country-network-container">
                <article class="name-and-edit-icon-container">
                    <p>SEU NOME AQUI</p>
                    <i class='bx bx-edit-alt'></i>
                </article>
                <article class="city-country-network">
                    <p id="city">CIDADE - ESTADO</p>
                    <p>www.twitter.com/joazinho</p>
                </article>
            </article>
            <form action="/perfil/editar" method="GET">
            <div class="about-container">
                <textarea id="about" name="about" id="about" placeholder="Conte-nos um pouco sobre você!"></textarea>
                <button id="edit-bio-button"><i class='bx bx-check'></i></button>
            </div>
                <ul type='none' class="buttons-container">
                    <li id="my-info" class="size"><button class="info-button" type="submit">Meus dados</button></li>
                    <li id="safety" class="size"><button class="safety-button">Segurança</button></li>
                    <li id="cards" class="size"><button class="cards-button">Cartões</button></li>
                </ul>
            </form>
        </section>
        <section class="top-art-exhibit-container">
                <article class="title"><h1>Suas TOP artes adquiridas:</h1></article>
                <article class="images-container">
                    <div class="first-row">
                        <img class="images-left" src="/img/NFT-2.png"/>
                        <img class="images-right" src="/img/NFT-2.png"/>
                    </div>
                    <div class="second-row">
                        <img class="images-left" src="/img/NFT-2.png"/>
                        <img class="images-right" src="/img/NFT-2.png"/>
                    </div>
                </article>
        </section>
        </div>
        <section class="last-purchase-container">
            <article class="title-2"><h1>Suas últimas aquisições:</h1></article>
            <div class="whole-table-container">
            <div class="info-table-container">
            <ul type='none' class="last-purchase-row">
                <li class="miniature-and-name font"><img src="/img/NFT-4.png"/>NOME DA ARTE</li>
                <li class="purchase-date font"><i class='bx bx-calendar'></i>DD/MM/AAAA</li>
                <li class="price font">R$9999,99</li>
            </ul>
            </div> 
            <div class="info-table-container">
                <ul type='none' class="last-purchase-row">
                    <li class="miniature-and-name font"><img src="/img/NFT-4.png"/>NOME DA ARTE</li>
                    <li class="purchase-date font"><i class='bx bx-calendar'></i>DD/MM/AAAA</li>
                    <li class="price font">R$9999,99</li>
                </ul>
                </div> 
                <div class="info-table-container">
            <ul type='none' class="last-purchase-row">
                <li class="miniature-and-name font"><img src="/img/NFT-4.png"/>NOME DA ARTE</li>
                <li class="purchase-date font"><i class='bx bx-calendar'></i>DD/MM/AAAA</li>
                <li class="price font">R$9999,99</li>
            </ul>
            </div> 
            <div class="info-table-container">
                <ul type='none' class="last-purchase-row">
                    <li class="miniature-and-name font"><img src="/img/NFT-4.png"/>NOME DA ARTE</li>
                    <li class="purchase-date font"><i class='bx bx-calendar'></i>DD/MM/AAAA</li>
                    <li class="price font">R$9999,99</li>
                </ul>
                </div>
            </div>
        </section>
        <section class="galery-container">
            <div class="title-and-filter">
            <article class="title-3"><h1>Sua galeria:</h1></article>
            <form action="/profile/filter" method="GET">
                <select name="classify" id="filter">
                    <option name="classify" value="" selected disabled> filtrar por</option>
                    <option name="classify" value=""> artes 2D</option>
                    <option name="classify" value=""> artes 3D</option>
                    <option name="classify" value=""> fotografias</option>
                    <option name="classify" value=""> colecionáveis</option>
                </select>
            </form>
            </div>
            <div class="galery-row-container">
            <ul type='none' class="top-row">
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
            </ul>
            <ul type='none' class="bottom-row">
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
                <li><img class="image-size" src="/img/NFT-4.png"/></li>
            </ul>
            </div>
        </section>
       </main>
       <%- include('./partials/footer') %>
</body>
</html>