<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/registro.css">
    <title>Registre-se</title>
</head>
<body>
    <div class="registro">  
        <img src="/img/logo.png" alt="">
        <div class="title">
            <h1>CREATE NEW ACCOUNT</h1>
        </div>
        <form action="">
            <div class="full-name">
                <div class="input-group">
                    <input type="text" id="name" required class="input">
                    <label for="name" class="input-label">Nome completo</label>
                   </div>
            </div>
            
               <div class="email">
                <div class="input-group">
                    <input type="text" id="name" required class="input">
                    <label for="name" class="input-label">Endereço de Email</label>
                   </div>
                <div class="input-group">
                    <input type="text" id="name" required class="input">
                    <label for="name" class="input-label">Confirmar Email</label>
                   </div>
               </div>
               <div class="senha">
                <div class="input-group">
                    <input type="password" id="name" required class="input">
                    <label for="name" class="input-label">Crie uma senha</label>
                   </div>
                <div class="input-group">
                    <input type="password" id="name" required class="input">
                    <label for="name" class="input-label">Confirme a senha</label>
                   </div>
               </div>
               <div class="input-group">
                <input type="tel" id="name" required class="input">
                <label for="name" class="input-label">Número de Telefone:</label>
               </div>
        </form>
        <span>Enviar</span>
    </div>
    
</body>
</html>