<footer>
    <div class="nfterritory-footer">
        <div class="logo">
            <img src="/img/logo-branca.png" alt="" srcset="">
        </div>
        <div class="text">
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
            <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
        </div>
    </div>
    <div class="comunidade">
        <div class="text-comunidade">
            <span>Continue por dentro de tudo!</span>
            <span>Cadastre seu e-mail receba</span>
            <span>novidades e ofertas da NFTerritory:</span>
        </div>
        <div class="search-comunidade">
            <input type="text" placeholder="Digite aqui seu e-mail">
            <div><i class='bx bx-check'></i></div>
        </div>
        <span> 
         Faça parte da comunidade:
        </span>
        <ul> 
            <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="#"><i class='bx bxl-twitter' ></i></a></li>
        </ul>    
        <ul> 
            <li><a href="#"><i class='bx bxl-reddit'></i></a></li>
            <li><a href="#"><i class='bx bxl-facebook-square'></i></a></li>
        </ul>
    </div>
    <div class="footer-clicaveis">
        <span><a href="/error">Fale conosco</a></span>
        <span><a href="/error">Trabalhe conosco</a></span>
        <span><a href="/error">Perguntas Frequentes</a></span>
        <span><a href="/error">Política de privacidade</a></span>
        <span><a href="/error">Termos e condições</a></span>
    </div>
 </footer>