<header>
    <div class="nav2">
        <ul>
            <li>support <i class='bx bxs-chevron-down'></i></li>
            <li>accessibility <i class='bx bxs-chevron-down'></i></li>
            <li>login <i class='bx bxs-chevron-down'></i></li>
            <li>buy <i class='bx bxs-chevron-down'></i></li>
        </ul>
    </div>
       <div class="header-main">
           <div class="rotas">
           </div>
           <div class="logo">
               <img src="/img/logo.png" alt="Logo">
           </div>
       </div>
       <div class="description">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae hic itaque perferendis consequuntur porro, minima libero tempora, ratione voluptates quo maxime voluptas omnis incidunt. Recusandae sequi corporis laudantium ea enim!</span>
    </div>
       <div class="search">
           <input type="text" name="search" id="search" placeholder="Search...">
       </div>
       <div class="nav">
        <ul>
            <li><a href="#">Artes 2D</a> </li>
            <li><a href="#">Artes 3D</a></li>
            <li><a href="#">Fotografias</a></li>
            <li><a href="#">Colecionáveis</a></li>
        </ul>
    </div>
   </header>