<header>
    <div class="header-main">
        <div class="rotas">
            <ul>
                <li><a href="/sair"><i class='bx bx-log-out'></i></a></li>
                <li><a href="/usuario/perfil"><i class='bx bx-user'></i></a></li>
            </ul>
        </div>        
        <div class="logo">
            <a href="/"><img src="/img/logo.png" alt="Logo"/></a>
        </div>
        <div class="rotas">
            <ul>
                <li><a href="/login"><i class='bx bx-log-in-circle'></i></a></li>
                <li><a href="/carrinho"><i class='bx bx-cart'></i></a></li>
            </ul>
        </div>       
    </div>
       <div class="description">
        <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae hic itaque perferendis consequuntur porro, minima libero tempora, ratione voluptates quo maxime voluptas omnis incidunt. Recusandae sequi corporis laudantium ea enim!</span>
    </div>
       <div class="search">
           <input type="text" name="search" id="search" placeholder="Search...">
       </div>
       <div class="nav">
        <ul>
            <li><a href="/produtos">Tudo</a></li>
            <li><a href="/produtos/2d">Artes 2D</a></li>
            <li><a href="/produtos/3d">Artes 3D</a></li>
            <li><a href="/produtos/fotografias">Fotografias</a></li>
            <li><a href="/produtos/colecionaveis">Colecionáveis</a></li>
        </ul>
    </div>
   </header>